*{
margin:0;
padding:0;
  box-sizing: border-box;
  border: 1px solid rgba(200,200,200);

}
/* ewrwrewr */

header, footer, section {
  padding: 5%;
  text-align: center;
  color: black;
  border: 1px;
}
